body{

  font-size: 12px;
  font-family: 'Open Sans Condensed', sans-serif, sans-serif;
  background-image: url("shop.jpg");
}

.navbar-default {
  color: "white";
  background-color: rgb(39,180,189);

}

.nav-input, .nav-btn {
  margin: 0 10px 0 10px;

}

.side_menu {
  margin-top: 80px;
}


.btn-suivre{
  margin-bottom: 10px;
}


.progress{

  color:  rgb(39,180,189)
}



.comment_text{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 200px;
}
